<md-dialog aria-label="Haslo do plikow" draggable>
    <form ng-cloak name="sendEmail" novalidate>
        <md-toolbar>
            <div class="modal-header md-toolbar-tools">
                <h2>Haslo do plikow</h2>
                <span flex></span>
                <!--<md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>-->
            </div>
        </md-toolbar>
        <md-dialog-content style="padding:15px">
            <div class="modal-table-row">
                <label class="modal-table-label" for="zipPassword">Haslo</label>
                <input class="modal-table-input" name="zipPassword" type="text" ng-model="modalResult.zipPassword" required />
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="cancel()">Anuluj</button>
                <button type="submit" class="btn btn-primary" ng-click="answer(modalResult, sendEmail.$error)">Zatwierdz</button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
