<div class="component-main-wrapper">
    <div class="user-details" style="height:100%;">
        <div class="toolbar-panel">
            <span class="toolbar-option option-one fa fa-plus-circle" ng-click="triggerAddEmployeeDialog()"></span>
            <span class="toolbar-option option-two fa fa-pencil-square" ng-click="triggerEditEmployeeDialog()"></span>
            <span class="toolbar-option option-three fa fa-trash-o" ng-click="triggerDeleteEmployeePopup()"></span>

            <span class="toolbar-option option-four fa fa-print" ng-click="triggerPrintPreview()"></span>
            <span class="toolbar-option option-five fa fa-envelope-open-o" ng-click="triggerSendEmailDialog()"></span>
            <span class="toolbar-option option-six fa fa-download" ng-click="triggerDownloadFiles()"></span>
            <span class="toolbar-option option-seven fa fa-shopping-basket" ng-click="triggeraddtocart()"></span>
        </div>
        <div class="main-files-content-wrapper">
            <div class="file-list-wrapper">
                <table style="width:100%;text-align:center">
                    <thead class="table-header">
                        <tr>
                            <th>Rodzaj Dokumentu</th>
                            <th>Data Dok</th>
                            <th>Data Pocz</th>
                            <th>Data Kon</th>
                            <th>[ ]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in userFiles" ng-click="selectFile(file)" ng-class="getRowStyle(file)">
                            <td>{{file.TypPliku}}</td>
                            <td>{{file.DataDokumentuStr}}</td>
                            <td>{{file.DataPoczStr}}</td>
                            <td>{{file.DataKoniecStr}}</td>
                            <td>
                                <input type="checkbox" ng-model="file.checked" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="file-preview-wrapper">
                <file-preview file="selectedFile" fileproperty="NazwaEad" secure="true"></file-preview>
            </div>
        </div>
    </div>
</div>