<div class="option-wrapper">
    <div class="filters-panel">
        <div class="filter-option">
            <label>Rejon</label>
            <select ng-options="filter.Nazwa for filter in areasFilters" ng-model="selectedArea" ng-change="assignArea()">
                <option value=""></option>
            </select>
        </div>
        <div class="filter-option">
            <label>Wydzial</label>
            <select ng-options="filter.Nazwa for filter in departmentFilters" ng-model="selectedDepartment" ng-change="assignDepartment()">
                <option value=""></option>
            </select>
        </div>
        <div class="filter-option" ng-show="subDepartmentsFilters && subDepartmentsFilters.length > 0">
            <label>Podwydzial</label>
            <select ng-options="filter.Nazwa for filter in subDepartmentsFilters" ng-model="selectedSubDepartment" ng-change="assignSubDepartment()">
                <option value=""></option>
            </select>
        </div>
        <div class="filter-option">
            <label>Konta5</label>
            <select ng-options="filter.Konto5 for filter in account5Filters" ng-model="selectedAccount5" ng-change="assignAccount5()">
                <option value=""></option>
            </select>
        </div>
        <div class="filter-option">
            <label>Rodzaj Dokumentu</label>
            <select ng-options="filter.Symbol for filter in documentTypeFilters" ng-model="selectedType" ng-change="assignType()">
                <option value=""></option>
            </select>
        </div>
        <!--<div class="filter-option">
            <label>Pracownik</label>
            <input ng-model="selectedUser" type="search" ng-change="searchForUser" />
        </div>-->
    </div>
    <div class="filter-buttons-option">
        <button ng-click="reloadTableContents()">Filtruj</button>
        <button ng-click="clearAllFilters()">Wyczysc</button>
    </div>
    <div class="files-table-wrapper">
        <div class="user-details-list toolbar-content"></div>
        <div style="width:98%;margin:auto">
            <div class="component-content-wrapper" style="width:100%;height:73vh">
                <menu-files-content rows="rows"></menu-files-content>
            </div>
        </div>
    </div>
</div>