<div class="menu-table-wrapper">
    <ul class="view-tabs top-toolbar toolbar-panel">
        <li ng-repeat="tab in tabs" ng-class="isTabActive(tab)" ng-click="setTabActive(tab)">{{tab.Name}}</li>
    </ul>
    <div class="toolbar-content">
        <input class="table-search" type="search" ng-model="search" />
        <table>
            <tbody>
                <tr ng-if="loading" style="text-align:center">
                    <td style="display:block;width:90%;margin:auto">
                        <processing></processing>
                    </td>
                </tr>
                <tr ng-if="!loading" ng-repeat="row in rows" ng-click="selectRow(row)" ng-class="getRowStyle(row)">
                    <td>{{row.Nazwisko}} {{row.Imie}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>