<md-dialog aria-label="Haslo administratora">
    <form ng-cloak name="addAdminPassword">
        <md-toolbar class="modal-header modal-header">
            <div class="md-toolbar-tools">
                <h2>Aby kontynuowac wymagane jest haslo administratora</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="padding:15px">
            <div class="modal-table-row">
                <div class="modal-table-title"></div>
                <label class="modal-table-label" for="adminPassword">Haslo Administratora</label>
                <input class="modal-table-input" name="adminPassword" type="text" ng-model="modalResult.adminPassword" />
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="cancel()">Anuluj</button>
                <button type="button" class="btn btn-primary" ng-click="answer(modalResult)">Zatwierdz</button>
            </div>
        </md-dialog-actions>
</form>
</md-dialog>
