<md-dialog aria-label="Haslo Uzytkownika">
    <form ng-cloak name="addUserPassword" novalidate>
        <md-toolbar>
            <div class="modal-header md-toolbar-tools">
                <h2>Aby kontynuowac wymagane jest haslo uzytkownika</h2>
                <span flex></span>
                <!--<md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>-->
            </div>
        </md-toolbar>

        <md-dialog-content style="padding:15px">
            <div class="modal-table-row">
                <label class="modal-table-label" for="userPassword">Haslo Uzytkownika</label>
                <input class="modal-table-input" 
                       name="userPassword" 
                       type="password" 
                       ng-model="modalResult.userPassword" 
                       ng-pattern="/^.{6,}$/"
                       ng-model-options="{updateOn: 'blur'}"
                       required
                />
            </div>
            <div ng-show="addUserPassword.$submitted || addUserPassword.userPassword.$touched">
                <span class="modal-table-error" ng-show="addUserPassword.userPassword.$error.pattern">Haslo Uzytkownika powinno miec co najmniej 6 znakow!</span>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="cancel()">Anuluj</button>
                <button type="submit" class="btn btn-primary" ng-click="answer(modalResult, addUserPassword.$error)">Zatwierdz</button>
            </div>
        </md-dialog-actions>
</form>
</md-dialog>    
