<div class="menu-table-wrapper" style="width: 40vw">
    <h1>[{{company}}]</h1>
    <div class="add-button-wrapper" style="height: 3vh;width:95%;margin:auto;background: #31B1DE;color:white">
        <span style="width:50%;float:left;text-align:left">
            <span class="fa fa-plus-square"></span><span>Dodaj Pliki</span>
        </span>
    </div>
    <div class="toolbar-content" style="height: 40vh;width:95%;margin:auto">
        <table style="width:100%;text-align:center">
            <tbody>
                <tr ng-if="loading" style="text-align:center">
                    <td style="display:block;width:90%;margin:auto">
                        <processing></processing>
                    </td>
                </tr>
                <tr ng-if="!loading" ng-repeat="row in newrows" ng-click="selectFile(row)" ng-class="getRowStyle(row)">
                    <td>{{row.NazwaPliku}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="toolbar file-transfer-toolbar" style="height: 3vh;width:95%;margin:auto;background: #31B1DE;color:white">
        <span style="width:50%;float:left;text-align:left">
            <span class="fa fa-arrow-up"></span><span>Zrodlowe</span>
        </span>
        <span style="width:50%;float:right;text-align:right">
            <span class="fa fa-arrow-down"></span><span>Do Opracowania</span>
        </span>
    </div>
    <div class="staged-files-wrapper" style="height: 25vh;width:95%;margin:auto;background:white">
        <table style="width:100%;text-align:center">
            <tbody>
                <tr ng-if="loading" style="text-align:center">
                    <td style="display:block;width:90%;margin:auto">
                        <processing></processing>
                    </td>
                </tr>
                <tr ng-if="!loading" ng-repeat="row in stagedrows">
                    <td>{{row.NazwaPliku}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>