<div style="height:100%">
    <div class="row justify-content-md-center" style="padding:5px">
        <div id="usersControlPanel" class="col-md-3" style="border-right: 1px solid black">
            <div style="width:90%;margin:auto;cursor:pointer">
                <h3>Wyszukaj</h3>
                <h3>Edytuj</h3>
                <h3>Dodaj</h3>
                <h3>Usun</h3>
            </div>
        </div>
        <div id="usersTable" class="col-md-9">
            <div style="width:90%;margin:auto">
                <table style="width:100%">
                    <thead class="info ui-toolbar" style="height:35px">
                        <tr style="background:white;color:#046249">
                            <th colspan="6" style="text-align:center">PRACOWNICY</th>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <th>Imie</th>
                            <th>Nazwisko</th>
                            <th>PESEL</th>
                            <th>Data urodzenia</th>
                            <th>Dzial</th>
                        </tr>
                    </thead>
                    <tbody ng-show="users.length > 0">
                        <tr ng-repeat="user in users">
                            <td>{{user.Id}}</td>
                            <td>{{user.Imie}}</td>
                            <td>{{user.Nazwisko}}</td>
                            <td>{{user.PESEL}}</td>
                            <td>{{user.DataUrodzenia}}</td>
                            <td>{{user.Dzial}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="users.length <= 0">
                        <tr>
                            <td colspan="6">Brak Pracownikow</td>
                        </tr>
                    </tbody>
                    <tfoot class="ui-toolbar">
                        <tr>
                            <th colspan="6" ng-click="goBack()"><a class="glyphicon glyphicon- glyphicon-circle-arrow-left" style="font-size:20px;color:white"></a></th>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>


    </div>

</div>