<div style="height:100%">
    <div class="row justify-content-md-center" style="padding:5px;height:100%">
        <div id="usersControlPanel" class="col-md-1" style="border-right: 1px solid black;box-shadow:0 0 2px 0 black;background:steelblue;text-align:center;height:100%;">
            <div style="width:90%;margin:auto;cursor:pointer">
                <button type="button" class="btn btn-warning emp-btn" ng-click="triggerAddEmployeePopup()" ng-disabled="!isUserSet()">
                    <span class="glyphicon glyphicon-pencil"></span> Edytuj
                </button>
                <br />
                <button type="button" class="btn btn-success emp-btn" ng-click="triggerAddEmployeePopup()">
                    <span class="glyphicon glyphicon-plus"></span> Dodaj
                </button>
                <br />
                <button type="button" class="btn btn-danger emp-btn" ng-click="triggerDeleteEmployeePopup()" ng-disabled="!isUserSet()">
                    <span class="glyphicon glyphicon-trash"></span> Usun
                </button>
            </div>
        </div>
        <div ng-show="!isTableLoaded">
            <processing></processing>
        </div>
        <div id="usersTable" class="col-md-11" style="height:100%;border-right: 1px solid black;box-shadow:0 0 2px 0 black;background:white;text-align:center" ng-show="isTableLoaded">
            <div style="width:90%;margin:auto;height:100%;">
                <div style="float:right">
                    <a style="margin-right:-15px" class="glyphicon glyphicon-search"></a>
                    <input ng-model="searchEmployee" placeholder="Wyszukaj Pracownika" type="search" style="border:none;border-radius:5px;box-shadow:0 0 1px 1px black" />
                </div>
                <table class="scrollable table-striped" style="width:100%;height:95%">
                    <thead class="info ui-toolbar" style="text-align: center; display:block">

                        <tr style="height:35px;text-align:center">
                            <th>Id</th>
                            <th>Imie</th>
                            <th>Nazwisko</th>
                            <th>PESEL</th>
                            <th>Data urodzenia</th>
                            <th>Dzial</th>
                        </tr>
                    </thead>
                    <tbody style="display:block;overflow-x:hidden;overflow-y:auto;height:89%">
                        <tr ng-repeat="user in users | filter: searchEmployee" ng-click="setUser()" style="height:50px">
                            <td>{{user.Id}}</td>
                            <td>{{user.Imie}}</td>
                            <td>{{user.Nazwisko}}</td>
                            <td>{{user.PESEL}}</td>
                            <td>{{user.DataUrodzenia}}</td>
                            <td>{{user.Dzial}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>


    </div>

</div>