<div class="component-main-wrapper" ng-show="company">
    <div class="user-details">
        <div class="top-toolbar toolbar-panel">
            <span class="toolbar-option option-one fa fa-plus-circle" ng-click="openAddCompanyDialog()"></span>
            <span class="toolbar-option option-one fa fa-pencil-square" ng-click="openEditCompanyDialog()"></span>
            <span class="toolbar-option option-three fa fa-trash-o" ng-click="triggerDeleteCompany(company)"></span>
        </div>
        <div class="user-details-list toolbar-content">
            <h3 style="margin:auto;text-align:center">Dane Firmy</h3>
            <table>
                <tbody>
                    <tr>
                        <td class="details-label">
                            Nazwa
                        </td>
                        <td class="details-value">
                            {{company.Nazwa}}
                        </td>
                    </tr>
                    <tr>
                        <td class="details-label">
                            Nazwa skrócona
                        </td>
                        <td class="details-value">
                            {{company.Nazwaskrocona}}
                        </td>
                    </tr>
                    <tr>
                        <td class="details-label">
                            Folder roboczy
                        </td>
                        <td class="details-value">
                            {{company.Waitingroom}}
                        </td>
                    </tr>
                    <tr>
                        <td class="details-label">
                            Adres
                        </td>
                        <td class="details-value">
                            {{company.Miasto}}({{company.Kodpocztowy}})-{{company.Wojewodztwo}}-{{company.Gmina}}-{{company.Ulica}}-{{company.Numerdomu}}/{{company.Numerlokalu}}
                        </td>
                    </tr>
                    <tr>
                        <td class="details-label">
                            NIP
                        </td>
                        <td class="details-value">
                            {{company.Nip}}
                        </td>
                    </tr>
                    <tr>
                        <td class="details-label">
                            Regon
                        </td>
                        <td class="details-value">
                            {{company.Regon}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="user-history">
        <md-content style="height:100%">
            <md-tabs class="md-primary ui-style-header" md-center-tabs>
                <md-tab label="{{tab.title}}" ng-repeat="tab in tabs" style="height:30px;background:red">
                    <md-content class="md-padding">
                        <p class="md-body-1">
                            <add-company-structure company="company" type="{{tab.type}}"></add-company-structure>
                        </p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
<div ng-show="!company" class="component-main-wrapper">
    <h1 class="middle-absolute">Zaznacz Firmę</h1>
</div>