<div ng-switch on="type">
    <div class="animate-switch" ng-switch-when="0">
        <cs-add-department company="company"></cs-add-department>
    </div>
    <div class="animate-switch" ng-switch-when="1">
        <cs-add-sub-department company="company"></cs-add-sub-department>
    </div>
    <div class="animate-switch" ng-switch-when="2">
        <cs-add-region company="company"></cs-add-region>
    </div>
    <div class="animate-switch" ng-switch-when="3">
        <cs-add-account company="company"></cs-add-account>
    </div>
</div>
