<md-dialog aria-label="Opis dokumentu" draggable class="open-to-left">
    <form ng-cloak name="addFileType" novalidate>
        <md-toolbar>
            <div class="modal-header md-toolbar-tools">
                <h2>Dodawanie rodzaju dokumentu</h2>
                <span flex></span>
                <!--<md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>-->
            </div>
        </md-toolbar>
        <md-dialog-content style="padding:15px">
            <div class="modal-table-row">
                <label class="modal-table-label" for="symbol">Symbol</label>
                <input class="modal-table-input" name="symbol" type="text" ng-model="modalResult.Symbol" required />
            </div>
            <div class="modal-table-row">
                <label class="modal-table-label" for="fileTypeName">Nazwa</label>
                <input class="modal-table-input" name="fileTypeName" type="text" ng-model="modalResult.Nazwa" required />
            </div>
            <div class="modal-table-row">
                <label class="modal-table-label" for="isDocOwner">Dokument Wlasny</label>
                <select class="modal-table-input modal-select-input"
                        name="isDocOwner"
                        ng-options="option.value as option.name for option in yesNoOptions"
                        ng-model="modalResult.Dokwlasny" />
            </div>
            <div class="modal-table-row">
                <label class="modal-table-label" for="jrwa">jrwa</label>
                <input class="modal-table-input" name="jrwa" type="text" ng-model="modalResult.jrwa" required />
            </div>
            <div class="modal-table-row">
                <label class="modal-table-label" for="docPart">Dzial Teczki *</label>
                <select class="modal-table-input modal-select-input"
                        name="docPart"
                        ng-options="option as option for option in docPartOptions"
                        ng-model="modalResult.Teczkadzial"
                        required />
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="cancel()">Anuluj</button>
                <button type="submit" class="btn btn-primary" ng-click="answer(modalResult, addFileType.$error)">Zatwierdz</button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
