<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="EtApp">
<head>
    <title>EAd 2017 v0.1a</title>
    <link rel="stylesheet" href="Scripts/bootstrap-3.3.7-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="Scripts/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="app/css/et.css" />
</head>
<body ng-controller="mainController">
    <div id="rootWrapper" class="resizable">
        <div id="header" class="jumbotron text-center ui-toolbar" style="padding:0;margin:0">
            <div class="row justify-content-md-center">
                <div class="col-md-offset-1 col-md-3">
                    <span class="glyphicon glyphicon-leaf" style="font-size:50px;color:white;float:left"></span><h3 style="text-align:left;float:left;margin-left:5px" ng-bind="startupContext.title"></h3>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h1 ng-bind="dot.one"></h1>
                </div>
                <div class="col-sm-6 col-md-4" ng-controller="menuController">
                    <div class="row text-center" style="padding:5px" ng-show="isUserLoggedIn()">
                        <div class=" col-md-offset-3 col-md-4 menu-button">
                            <div class="glyphicon glyphicon-question-sign" style="font-size:25px"></div>
                            <div class="caption">
                                <h3>Pomoc</h3>
                            </div>
                        </div>
                        <div class="col-md-4 menu-button user-button" ng-click="showUserOptions()">
                            <div class="glyphicon glyphicon-user" style="font-size:25px"></div>
                            <div class="caption">
                                <h3>Uzytkownik</h3>
                            </div>
                            <div class="user-menu-options" ng-show="userMenuVisible">
                                <div ng-repeat="option in userMenuOptions" class="userOption">
                                    <span ng-click="option.onclick()">{{option.name}}</span>
                                    <span class={{option.iconClass}}></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center" style="height:20px;background:white">
                {{state.currentState}}
            </div>
        </div>
        <div id="content" class="container-fluid" style="overflow-y:hidden">
            <ui-view></ui-view>
        </div>
        <footer id="footer" class="ui-toolbar container-fluid bg-4 text-center" style="height:37px">
            <!--<img src="Content/img/logo9.png" height="32" width="32" />-->
        </footer>
    </div>

    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/angular/angular.min.js"></script>
    <script src="Scripts/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-animate/angular-animate.min.js"></script>
    <!--<script src="Scripts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>-->
    <!--<script src="Scripts/ui-bootstrap-tpls-0.12.js"></script>-->
    <script src="Scripts/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="Scripts/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <script src="Scripts/d3js/d3.min.js"></script>
    <script src="Scripts/d3pie.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/main/mainController.js"></script>
    <script src="app/main/startup/startupService.js"></script>
    <script src="app/views/login/loginViewController.js"></script>
    <script src="app/views/login/loginViewDirective.js"></script>
    <script src="app/views/login/loginService.js"></script>
    <script src="app/main/session/sessionService.js"></script>
    <script src="app/views/employees/editEmployeesPopup/editEmployeeService.js"></script>
    <script src="app/views/addUsers/addUsersViewController.js"></script>
    <script src="app/views/addUsers/addUsersViewDirective.js"></script>
    <script src="app/views/options/optionsViewController.js"></script>
    <script src="app/views/options/optionsViewDirective.js"></script>
    <script src="app/views/files/filesViewController.js"></script>
    <script src="app/views/files/filesViewDirective.js"></script>
    <script src="app/views/employees/employeesViewController.js"></script>
    <script src="app/views/employees/employeesViewDirective.js"></script>
    <script src="app/views/employees/employeesService.js"></script>
    <script src="app/main/header/menu/menuController.js"></script>
    <script src="app/main/files/filesController.js"></script>
    <script src="app/main/utils/utils.js"></script>
    <script src="app/main/utils/resizableDirective.js"></script>
    <script src="app/main/utils/httpService.js"></script>
    <script src="app/main/employees/employeesController.js"></script>
</body>
</html>
