<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="default" xsi:type="File" fileName="c:/eteczka.main/logs/default.log"/>
            <target name="user" xsi:type="File" fileName="${environment:PROCESSOR_ARCHITECTURE}/logs/user.log"/>
        </targets>

    </nlog>
</configuration>