<div style="height:100%;position:relative">
    <div class="menu-option thumbnail">
        <div class="login-icon fa fa-lock" style="font-size:80px"></div>
        <div class="caption">
            <form>
                <h3>Login</h3>
                <label for="username">Nazwa uzytkownika</label>
                <br />
                <input class="login-input" name="username" type="text" ng-model="credentials.username" autofocus />
                <br />
                <label for="password">Haslo</label>
                <br />
                <input tabindex="2" class="login-input" name="password" type="password" ng-model="credentials.password" />
                <div tabindex="4">
                    <p>Problem z logowaniem? <a href="#" ng-click="contactAdmin()">Skontaktuj sie z Administratorem</a></p>
                </div>

                <p><span tabindex="3" type="submit" class="login-button" role="button" ng-click="tryLogin(credentials)">Zaloguj</span></p>
                <input type="submit"
                       style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                       tabindex="-1" />
                <div id="loginErrorMsg" class="login-error-message">{{loginErrorMsg}}</div>
            </form>
        </div>
    </div>
</div>