<div style="height:100%">
    <div class="menu-option thumbnail">
        <div class="login-icon fa fa-lock" style="font-size:80px"></div>
        <div class="caption">
            <form>
                <h3>Login</h3>
                <label for="username">Nazwa uzytkownika</label>
                <br />
                <input class="login-input" name="username" type="text" ng-model="credentials.username" autofocus />
                <br />
                <label for="password">Haslo</label>
                <br />
                <input class="login-input" name="password" type="password" ng-model="credentials.password" />
                <p>Problem z logowaniem? <a href="#" ng-click="contactAdmin()">Skontaktuj sie z Administratorem</a></p>

                <p><span class="login-button" role="button" ng-click="tryLogin(credentials)">Zaloguj</span></p>


                <div id="loginErrorMsg" class="login-error-message">{{loginErrorMsg}}</div>
            </form>
        </div>
    </div>
</div>