<div>
    <div class="row justify-content-md-center">
        <div class="col-md-offset-2 col-sm-offset-3 col-sm-6 col-md-8">
            <div class="menu-option thumbnail" style="text-align:center">
                <div class="glyphicon glyphicon-user" style="font-size:80px"></div>
                <div class="caption">
                    <h3>Login</h3>
                    <label for="username">Nazwa uzytkownika</label>
                    <br />
                    <input name="username" type="text"/>
                    <br />
                    <label for="password">Haslo</label>
                    <br />
                    <input name="password" type="password" />
                    <p>Nie posiadasz konta? <a>Zarejestruj sie</a></p>
                    <p><a href="#" class="btn btn-primary" role="button" ng-click="tryLogin()">Zaloguj</a></p>
                </div>
            </div>
        </div>
    </div>

</div>