<form name="upsertEmployee">
    <div class="modal-table-row">
        <label class="modal-table-label" for="firm">Firma</label>
        <input class="modal-table-input" name="firm" type="text" ng-model="modalResult.Firma" ng-disabled="true" />
    </div>
    <div class="modal-table-row">
        <label class="modal-table-label" for="region">Rejon</label>
        <select ng-if="workplaceParams.loadingRegions"
                class="modal-table-input"
                name="region"
                ng-options="option for option in ['processing...']"
        />
        <select 
                ng-if="!workplaceParams.loadingRegions"
                class="modal-table-input" 
                name="region" 
                ng-model="modalResult.Rejon" 
                ng-options="option.Nazwa for option in modalOptions.availableRegions" 
        />
    </div>
    <div class="modal-table-row">
        <label class="modal-table-label" for="department">Wydzial</label>
        <select ng-if="workplaceParams.loadingDepartments"
                class="modal-table-input"
                name="department"
                ng-options="option for option in ['processing...']" 
        />
        <select ng-if="!workplaceParams.loadingDepartments"
                class="modal-table-input" 
                name="department" 
                ng-model="modalResult.Wydzial"
                ng-options="option.Nazwa for option in modalOptions.availableDepartments" 
                ng-init="modalResult.Wydzial"
        />
    </div>
    <div class="modal-table-row">
        <label class="modal-table-label" for="subDepartment">Podwydzial</label>
        <select class="modal-table-input" 
                name="subDepartment" 
                ng-model="modalResult.Podwydzial" 
                ng-disabled="!modalResult.Wydzial"
        />
    </div>
    <div class="modal-table-row">
        <label class="modal-table-label" for="account5">Konto 5</label>
        <select class="modal-table-input" 
                name="account5" 
                ng-model="modalResult.Konto5" 
                ng-disabled="!modalResult.Podwydzial"
        />
    </div>
    <div class="modal-table-row">
        <label class="modal-table-label" for="startDate">Data poczatkowa</label>
        <input class="modal-table-input" name="startDate" type="text" ng-model="modalResult.DataPoczatkowa" required/>
    </div>
    <div class="modal-table-row">
        <label class="modal-table-label" for="endDate">Data koncowa</label>
        <input class="modal-table-input" name="endDate" type="text" ng-model="modalResult.DataKoniec" required />
    </div>
</form>
