<div>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <table class="table-bordered">
                <thead class="info">
                    <tr>
                        <th>Data</th>
                        <th>Nazwa pliku</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in files">
                        <td>{{file.date}}</td>
                        <td>{{file.name}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td ng-click="goBack()"><a class="glyphicon glyphicon-arrow-left" style="font-size:20px;color:black"></a></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <embed ng-src="../../../Content/test/{{selectedPdf}}" width="400" height="375" type="application/pdf" />
        </div>
    </div>

</div>