<div ng-controller="addFileController">
    <div ng-show="!isElementChosen && !modalOptions.isEdit">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="text-align:center">
                <div class="glyphicon glyphicon-arrow-down" style="font-size:80px"></div>
                <div class="caption">
                    <h3>Upusc plik</h3>
                    <div style="width:80%;margin:auto;height:235px;border: 1px dashed steelblue;background:lightsteelblue;color:white" files-drop="onFilesDropped($files, $event)">
                        <h2> Upusc plik tutaj lub wcisnij przycisk "Przegladaj" i wskaz plik w Systemie</h2>
                    </div>
                    <p>
                        <a href="#" class="btn btn-primary" role="button" ng-click="wczytajPlik()">Przegladaj....</a>
                        <input id="addFileIO" type="file" style="display:none" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isElementChosen || modalOptions.isEdit" style="width:100%;height:100%">
        <form class="addEditFileForm">
            <div style="width:50%;height:75vh;float:left;box-shadow:0 0 2px 1px black;background:whitesmoke">
                <div style="width:90%;margin:auto">
                    <div class="modal-jrwa-header" style="width:100%;height:15%;float:left">
                        <lable for="jrwaInput">JRWA</lable>
                        <input name="jrwaInput" type="text" style="width:250px;margin:auto" ng-model="modalResult.jrwa" disabled />
                    </div>
                    <div class="modal-file-details" style="width:100%;height:60%;float:left">
                        <div class="input-raw">
                            <label for="fileTypes">Typ Pliku</label>
                            <select name="fileTypes" style="width:250px;margin:auto">
                                <option ng-model="selectedFile" ng-change="selectType(file)" ng-repeat="file in modalResult.files">{{file}}</option>
                            </select>
                        </div>
                        <div class="input-raw">
                            <label for="empname">Pracownik</label>
                            <input style="width:250px;margin:auto" name="emppesel" type="text" ng-model="modalResult.eployeeToModify.pesel" ng-change="searchForPesel()" />
                        </div>
                        <div class="input-raw">
                            <label for="empname">Pracownik</label>
                            <input style="width:250px;margin:auto" name="empname" type="text" ng-model="modalResult.eployeeToModify.name" ng-change="searchForName()" />
                        </div>
                        <div class="input-raw">
                            <label for="empname">Rozmiar</label>
                            <input style="width:250px;margin:auto" name="workplace" type="text" ng-model="modalResult.Size" disabled />
                        </div>
                        <div class="input-raw">
                            <label for="empname">Firma</label>
                            <input style="width:250px;margin:auto" name="company" type="text" ng-model="modalResult.firm" />
                        </div>
                        <div class="input-raw">
                            <label for="empname">Uwagi/Komentarze</label>
                            <textarea style="height:270px;width:100%" ng-model="modalResult.employeeComment" />
                        </div>
                    </div>
                    <div class="modal-jrwa-footer" style="width:100%;height:15%;float:left"></div>
                </div>
            </div>
            <div style="width:50%;height:75vh;float:left">
                <div style="width:90%;height:100%;;margin:auto;min-height:400px;min-width:500px">
                    <object class="pdfPreviewer" data="" type="application/pdf" style="height:98%;width:100%" />
                </div>
            </div>
        </form>
    </div>
</div>