<form name="adminContact">
    <div class="modal-table-row">
        <label class="modal-table-label" for="topic">Temat</label>
        <select class="modal-table-input" 
                name="topic" 
                ng-model="modalResult.Topic"
                ng-options="option for option in modalOptions.topicChoises" />
    </div>
    <div class="modal-table-row">
        <label class="modal-table-label" for="userName">Nazwa Uzytkownika</label>
        <input class="modal-table-input" name="userName" type="text" ng-model="modalResult.Username" />
    </div>
    <div class="modal-table-row">
        <label class="modal-table-label" for="password">Haslo</label>
        <input class="modal-table-input" name="password" type="text" ng-model="modalResult.Password" />
    </div>
    <div class="modal-table-row">
        <label class="modal-table-label" for="remarks">Uwagi</label>
        <textarea rows="12" cols="78" class="modal-table-input" name="remarks" ng-model="modalResult.Remarks" />
    </div>
</form>
