<div>
    <div class="row justify-content-md-center">
        <div class="col-md-offset-2 col-sm-offset-3 col-sm-6 col-md-8">
            <div class="menu-option thumbnail" style="text-align:center">
                <div class="caption">
                    <label for="username">Nazwa uzytkownika</label>
                    <br />
                    <input name="username" type="text" ng-model="typedUsername" />
                    <br />
                    <label for="password">Haslo</label>
                    <br />
                    <input name="password" type="password" ng-model="typedPassword" />
                </div>
            </div>
        </div>
    </div>
</div>
