<div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodawanie nowego pracownika</h4>
            </div>
            <div class="modal-body">
                <p>tutaj bedzie tabelka z danymi pracownika</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="ok()">Zapisz</button>
                <button type="button" class="btn btn-warning" ng-click="cancel()">Anuluj</button>
            </div>
        </div>
    </div>
</div>