<div style="font-weight: bold">Ponizszy uzytkownik zostanie wykasowany z bazy danych</div>
<br />
<table class="table table-striped" style="width:100%;border-right: 1px solid black;text-align:center">
    <tr>
        <th class="ui-toolbar" style="height:20px">Id</th>
        <td>{{modalResult.Id}}</td>
    </tr>
    <tr>
        <th class="ui-toolbar" style="height:20px">Imie</th>
        <td>{{modalResult.Imie}}</td>
    </tr>
    <tr>
        <th class="ui-toolbar" style="height:20px">Nazwisko</th>
        <td>{{modalResult.Nazwisko}}</td>
    </tr>
    <tr>
        <th class="ui-toolbar" style="height:20px">Dzial</th>
        <td>{{modalResult.Dzial}}</td>
    </tr>
    <tr>
        <th class="ui-toolbar" style="height:20px">PESEL</th>
        <td>{{modalResult.PESEL}}</td>
    </tr>
</table>

