<div style="font-weight: bold">Ponizszy uzytkownik zostanie wykasowany z bazy danych</div>
<br />
<table class="table table-striped" style="width:100%;border-right: 1px solid black;text-align:center">
    <tr>
        <th class="ui-toolbar" style="height:20px">numer Eod</th>
        <td>{{modalResult.Numeread}}</td>
    </tr>
    <tr>
        <th class="ui-toolbar" style="height:20px">Imie</th>
        <td>{{modalResult.Imie}}</td>
    </tr>
    <tr>
        <th class="ui-toolbar" style="height:20px">Drugie Imie</th>
        <td>{{modalResult.Imie2}}</td>
    </tr>
    <tr>
        <th class="ui-toolbar" style="height:20px">Nazwisko</th>
        <td>{{modalResult.Nazwisko}}</td>
    </tr>
    <tr>
        <th class="ui-toolbar" style="height:20px">PESEL</th>
        <td>{{modalResult.PESEL}}</td>
    </tr>
    <tr>
        <th class="ui-toolbar" style="height:20px">Pesel obcy</th>
        <td>{{modalResult.PeselInny}}</td>
    </tr>
</table>

