<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3" for="firstName">Imie</label>
        <input class="col-sm-4" name="firstName" type="text" ng-model="employee.Imie"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="lastName">Nazwisko</label>
        <input class="col-sm-4" name="lastName" type="text" ng-model="employee.Nazwisko"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="pesel">Pesel</label>
        <input class="col-sm-4" name="pesel" type="text" ng-model="employee.PESEL"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="age">Wiek</label>
        <input class="col-sm-4" name="age" type="number" ng-model="employee.Wiek"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="position">Stanowisko</label>
        <input class="col-sm-4" name="position" type="text" ng-model="employee.Dzial"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="birthday">Data Urodzenia</label>
        <input class="col-sm-4" name="birthday" type="date" ng-model="employee.DataUrodzenia"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Plec</label>
        <div class="col-sm-4">
            <label class="radio-inline"><input type="radio" name="gender" value="K" ng-model="employee.gender" />K</label>
            <label class="radio-inline"><input type="radio" name="gender" value="M" ng-model="employee.gender" />M</label>   
        </div>
    </div>
</form>
