<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3" for="firstName">Imie</label>
        <input class="col-sm-4" name="firstName" type="text" ng-model="modalResult.Imie"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="secondName">Drugie Imie</label>
        <input class="col-sm-4" name="secondName" type="text" ng-model="modalResult.Imie2"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="lastName">Nazwisko</label>
        <input class="col-sm-4" name="lastName" type="text" ng-model="modalResult.Nazwisko"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="familyName">Nazwisko Rodowe</label>
        <input class="col-sm-4" name="familyName" type="text" ng-model="modalResult.NazwiskoRodowe" />
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="birthday">Data Urodzenia</label>
        <input class="col-sm-4" name="birthday" type="text" ng-model="modalResult.DataUrodzenia" />
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="pesel">PESEL</label>
        <input class="col-sm-4" name="pesel" type="text" ng-model="modalResult.PESEL"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="peselOther">Pesel obcy</label>
        <input class="col-sm-4" name="peselOther" type="text" ng-model="modalResult.PeselInny" />
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="country">Kraj</label>
        <input class="col-sm-4" name="country" type="text" ng-model="modalResult.Kraj"/>
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="motherName">Imie Matki</label>
        <input class="col-sm-4" name="motherName" type="text" ng-model="modalResult.ImieMatki" />
    </div>
    <div class="form-group">
        <label class="col-sm-3" for="fatherName">Imie Ojca</label>
        <input class="col-sm-4" name="fatherName" type="text" ng-model="modalResult.ImieOjca" />
    </div>
</form>
