<md-dialog aria-label="Formularz dodawania/edycji użytkownika" draggable class="open-to-left">
    <form ng-cloak name="userForm" novalidate>
        <md-toolbar>
            <div class="modal-header md-toolbar-tools">
                <h2>Formularz dodawania/edycji użytkownika</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="padding:15px">
            <div class="modal-table-row" ng-if="!isEdit">
                <label class="modal-table-label" for="employee">Nazwisko*</label>
                <input type="text" ng-model="modalResult.Nazwisko" required />
            </div>
            <div class="modal-table-row" ng-if="!isEdit">
                <label class="modal-table-label" for="employeeName">Imie*</label>
                <input class="modal-table-input" name="employeeName" ng-model="modalResult.Imie" type="text" required />
            </div>
            <div class="modal-table-row" ng-class="isEditable()">
                <label class="modal-table-label" for="docName">Nazwa użytkownika</label>
                <input class="modal-table-input" type="text" ng-model="modalResult.Identyfikator" required />
            </div>
            <div class="modal-table-row">
                <label class="modal-table-label" for="docName">Hasło krótkie</label>
                <input class="modal-table-input" type="text" ng-model="modalResult.Hasloshort" ng-required="!isEdit" />
            </div>
            <div class="modal-table-row">
                <label class="modal-table-label" for="shortRepeat">Powtórz hasło krótkie</label>
                <input class="modal-table-input" name="shortRepeat" type="text" ng-model="modalResult.HasloshortRepeat" ng-required="modalResult.Hasloshort"
                       ng-change="isNotEqual(modalResult.Hasloshort, modalResult.HasloshortRepeat)" />
            </div>
            <div ng-show="userForm.$submitted || userForm.shortRepeat.$touched ">
                <span class="modal-table-error" ng-show="isNotEqual(modalResult.Hasloshort, modalResult.HasloshortRepeat)">Hasla nie zgadzaja sie</span>
            </div>
            <div class="modal-table-row">
                <label class="modal-table-label" for="docName">Hasło długie</label>
                <input class="modal-table-input" type="text" ng-model="modalResult.Haslolong" ng-required="!isEdit" />
            </div>
            <div class="modal-table-row">
                <label class="modal-table-label" for="longRepeat">Powtórz hasło długie</label>
                <input class="modal-table-input" name="longRepeat" type="text" ng-model="modalResult.HaslolongRepeat" ng-required="modalResult.Haslolong"
                       ng-change="isNotEqual(modalResult.Haslolong, modalResult.HaslolongRepeat)" />
            </div>
            <div ng-show="userForm.$submitted || userForm.longRepeat.$touched">
                <span class="modal-table-error" ng-show="isNotEqual(modalResult.Haslolong, modalResult.HaslolongRepeat)">Hasla nie zgadzaja sie</span>
            </div>
            <div class="modal-table-row" ng-if="!isEdit">
                <label class="modal-table-label" for="docName">Email</label>
                <input class="modal-table-input" type="email" ng-model="modalResult.Email" required />
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="cancel()">Anuluj</button>
                <button type="submit" class="btn btn-primary" ng-click="answer(modalResult, userForm.$error)">Zatwierdz</button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
