<div style="height:100%">
    <div class="navigationPanel row">
        <div class="col-md-6">
            <a ng-click="goBack()" class="glyphicon glyphicon-circle-arrow-left" style="font-size:20px;color:white;background:steelblue"></a>
        </div>
    </div>
    <div id="upperSettingsWrapper" class="row justify-content-md-center">
        <div class="col-md-6 col-sm-12">
            <div class="menu-option thumbnail" style="text-align:center;margin: 22px 0 auto auto">
                <div class="glyphicon glyphicon-cloud-download" style="font-size:80px"></div>
                <div class="caption">
                    <h3>Import Danych z Systemu Ksiegowego</h3>
                    <div class="buttonsParagraph">
                        <div>
                            <button class="btn btn-warning" ng-click="importFiles()">Import Plikow</button>
                            <span class="glyphicon glyphicon glyphicon-check" title="Aktualny" style="color:green"></span>
                        </div>
                        <div>
                            <button class="btn btn-warning" ng-click="importUsers()">Import Pracownikow</button>
                            <span class="glyphicon glyphicon glyphicon-check" title="Aktualny" style="color:green"></span>
                        </div>
                        <div>
                            <button class="btn btn-warning" ng-click="importArchives()">Import Lokalizacji Archiwow</button>
                            <span class="glyphicon glyphicon glyphicon-check" title="Aktualny" style="color:green"></span>
                        </div>
                        <div>
                            <button class="btn btn-warning" ng-click="importFirms()">Import Firm</button>
                            <span class="glyphicon glyphicon glyphicon-check" title="Aktualny" style="color:green"></span>
                        </div>
                        <div>
                            <button class="btn btn-warning" ng-click="importAreas()">Import Rejonow</button>
                            <span class="glyphicon glyphicon glyphicon-check" title="Aktualny" style="color:green"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="menu-option thumbnail" style="text-align:center;margin: 22px 0 auto auto">
                <h2>Uzytkownicy</h2>
            </div>
        </div>
    </div>
</div>