<div style="height:100%">
    <div class="navigationPanel row">
        <div class="col-md-6">
            <a ng-click="goBack()" class="glyphicon glyphicon-circle-arrow-left" style="font-size:20px;color:white;background:steelblue"></a>
        </div>
    </div>
    <div id="upperSettingsWrapper" class="row justify-content-md-center">
        <div style="width:80%;margin:auto;text-align:center">
            <button class="btn btn-warning" ng-click="importFiles()">Import</button>
        </div>
    </div>


</div>