@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.option-wrapper {
  width: 95%;
  padding: 5px;
  margin: auto;
}

.menu-table-wrapper {
  height: 80vh;
  width: 20vw;
  float: left;
  box-shadow: 0 0 2px #666161;
  padding: 5px;
  position: relative;
  margin-bottom: 1px;
}

.component-main-wrapper {
  height: 80vh;
  background: white;
}

.component-content-wrapper {
  height: 80vh;
  width: 71vw;
  float: right;
  box-shadow: 0 0 2px #666161;
  padding: 5px;
  background: #E3E3E3;
  overflow: auto;
}

.tab {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
}

.tab-default {
  color: black;
}

.tab-active {
  color: white;
  padding: 5px 5px;
}

.table-row {
  color: #074C75;
  background: white;
  cursor: pointer;
}

.table-row:hover {
  background: #666161;
  font-weight: bold;
}

.git-table-row {
  color: #074C75;
  background: white;
  cursor: pointer;
}

.git-table-row:hover {
  background: #E3E3E3;
}

.git-table-row:hover .fa-arrow-circle-down {
  color: forestgreen;
}

.git-table-row .fa-arrow-circle-down,
.table-row fa-arrow-circle-up {
  position: absolute;
  right: 30px;
}

.top-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.toolbar-panel {
  height: 30px;
  background-color: #31B1DE;
  color: white;
  padding: 0;
  margin: 0 0 5px;
}

.git-panel {
  background-color: whitesmoke;
  color: #134557;
  box-shadow: 0 0 2px black;
}

.toolbar-option {
  width: 30px;
  height: 30px;
  font-size: 23px !important;
  margin: 2px 5px;
}

.toolbar-option:hover {
  cursor: pointer;
}

.details-row {
  line-height: 30px;
  float: left;
}

.details-label {
  width: 300px;
  float: left;
  padding: 5px;
}

.details-value {
  width: 980px;
  height: 30px;
  float: right;
  margin-right: 0;
  color: #074C75;
  box-shadow: 0 0 1px black;
  background: whitesmoke;
  text-align: justify;
  padding-left: 5px;
}

.option-three {
  float: right;
  margin-right: 5px;
}

.toolbar-content {
  margin-top: 30px;
  overflow: hidden;
  height: calc(100% - 30px);
  background: white;
}

.table-search {
  width: 99%;
  margin: 5px auto;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.menu-table-wrapper .toolbar-content table {
  width: 100%;
  height: 97%;
  margin: auto;
  overflow: hidden;
  display: block;
  padding: 0;
}

.menu-table-wrapper .toolbar-content tbody {
  overflow: auto;
  display: block;
  height: 100%;
  width: 100%;
}

.menu-table-wrapper .toolbar-content table tbody tr {
  width: 100%;
  display: block;
}

.user-details,
.user-history {
  position: relative;
  width: 100%;
  float: left;
  height: 50%;
  /*color: $darkblue;*/
  color: #074C75;
}

.active-row {
  background: #8FE1E1;
  color: white;
}

.checked-row {
  background: darkgreen;
  color: white;
}

.fa-trash-o:hover {
  color: red;
}

.fa-plus-circle:hover {
  color: forestgreen;
}

.fa-pencil-square:hover {
  color: #074C75;
}

.user-details-toolbar {
  height: 30px;
  width: 100%;
}

#company-selection-wrapper {
  width: 150px;
  float: left;
  margin-left: 10px;
}

#selection-details {
  float: right;
  margin-right: 10px;
  background: whitesmoke;
  color: black;
}

.file-list-wrapper {
  height: 100%;
  width: 60%;
  float: left;
}

.main-files-content-wrapper {
  height: calc(100% - 60px);
  width: 100%;
}

.file-preview-wrapper {
  height: 100%;
  width: 39%;
  float: right;
  background: whitesmoke;
}

#git-metrics-side-panel {
  width: 10vw;
  float: left;
  height: 100%;
  background: whitesmoke;
  color: white;
}

#git-metrics-side-panel .fa {
  margin-right: 5px;
}

#git-metrics-details {
  width: 60vw;
  float: right;
  height: 100%;
}

.git-icon {
  margin: 4px;
  cursor: pointer;
}

.git-icon:hover {
  color: #134557;
}

.git-metric-li {
  margin: 5px 0;
  cursor: pointer;
  color: #134557;
}

.git-metric-li:hover {
  font-weight: bold;
}

.git-metric-part {
  height: 20px;
  width: 100%;
  text-align: center;
}

.git-metric-part h3 {
  color: #134557;
  margin: 0;
}

.git-comment-area {
  height: 200px;
  width: 99%;
  text-align: justify;
  background: white;
  margin: auto;
  box-shadow: 0 0 2px black;
  padding: 5px;
}

.git-comment-area input {
  float: right;
  width: 50vw;
  text-align: right;
}

.md-title {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #074C75;
  color: white;
}

#emptyfileheader {
  text-align: center;
  color: #074C75;
  position: absolute;
  left: 50%;
  top: 50%;
}

.filter-option {
  display: inline-block;
  text-align: center;
  width: 250px;
  padding: 5px;
  background: whitesmoke;
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  margin: 0 5px;
}

.filter-option > label {
  color: #074C75;
  display: block;
  font-weight: bold;
}

.filter-option select {
  color: #074C75;
  text-align: center;
  cursor: pointer;
  width: 90%;
  margin: auto;
}

.filter-buttons-option {
  position: absolute;
  right: 5px;
  top: 122px;
}

.filter-buttons-option button {
  display: inline-block;
  /* height: 10px; */
  padding: 1em;
  height: auto;
  width: 100px;
}

.git-details-row {
  height: 20%;
  color: #074C75;
  font-weight: bold;
}

/*# sourceMappingURL=components.css.map */