@import 'vars.scss';
@import 'mixins.scss';
@import 'header.scss';
@import 'login.scss';
@import 'navigation.scss';
@import 'components.scss';
@import 'admin.scss';

html {
    height: 100vh;
    width: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: monospace, sans-serif;
    height: 100%;
    width: 100%;
}

li {
    list-style: none;
}

#rootWrapper {
    height: 100%;
    width: 100%;
}

.logo-wrapper {
}

#customer-logo {
    width: 40%;
    margin: auto;
    display: block;
    -moz-animation: 2s fadein;
    -o-animation: 2s fadein;
    -webkit-animation: 2s fadein;
    animation: 2s fadein;
}


.document-cart {
    position: fixed;
    right: 0;
    top: 50%;
    height: 150px;
    width: 80px;
    background: $darkgrey;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.document-cart > span {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transform-origin: left bottom 0;
    -ms-transform-origin: left bottom 0;
    -o-transform-origin: left bottom 0;
    -webkit-transform-origin: left bottom 0;
    transform-origin: left bottom 0;
    position: absolute;
    color: white;
    font-weight: bold;
}


.button-success {
    background-color: $darkgreen !important;
    color: white;
}

.button-error {
    background-color: $error-red !important;
    color: white;
}

.table-header {
    background: $tableHeader;
}

.modal-window {
    position: absolute;
    width: 800px;
    height: 800px;
    z-index: 500;
    border: 5px solid black;
    top: 50%;
    left: 50%;
    background: white;
    @include center-absolute();
    display: none;
}

.modal-window.open {
    display: block;
    -moz-animation: 2s fadein;
    -o-animation: 2s fadein;
    -webkit-animation: 2s fadein;
    animation: 2s fadein;
}
