body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.ui-toolbar {
    /*background: linear-gradient(-90deg, #047249, #046249);*/
    /*background: #047249;*/
    background: steelblue;
    color: white;
}

    .ui-toolbar:hover {
    }

.container {
    min-height: 100%;
}

#optionsViewWrapper {
    height: 100%;
}

    #optionsViewWrapper a.btn {
        width: 200px;
    }

        #optionsViewWrapper a.btn:hover {
            background: white;
            color: steelblue;
        }

.menu-option {
    height: 90%;
    width: 98%;
    /*margin: 22px auto;*/
    padding: 1em;
}

    .menu-option:hover {
        /*box-shadow: 0 0 2px 0 #046249;*/
        box-shadow: 0 0 2px 0 black;
        cursor: pointer;
    }

    .menu-option.menu-yellow:hover {
        color: darkgoldenrod;
    }

    .menu-option.menu-green:hover {
        color: darkgreen;
    }

    .menu-option.menu-orange:hover {
        color: orangered;
    }

    .menu-option.menu-blue:hover {
        color: steelblue;
    }

.help-button {
}

.user-button {
    position: relative;
    display: inline-block;
}

.menu-button {
    color: white;
    border-radius: 4px;
}

    .menu-button:hover {
        cursor: pointer;
        box-shadow: 0 0 1px 0 black;
        -moz-transition: background 0.2s ease-in;
        -o-transition: background 0.2s ease-in;
        -webkit-transition: background 0.2s ease-in;
        transition: background 0.2s ease-in;
        /*background: #046249;*/
        background: lightslategray;
    }

.user-menu-options {
    position: absolute;
    /*background-color: #047249;*/
    background-color: steelblue;
    min-width: 160px;
    margin: 6px;
    z-index: 1000;
    line-height: 30px;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 0 1px 2px steelblue;
    opacity: 0.96;
}

.userOption:hover {
    background: white;
    color: steelblue;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

input {
    text-align: center;
}

    input:focus {
        color: steelblue;
        box-shadow: 0 0 1px 0 black;
        background: white;
        border: 1px solid steelblue !important;
    }

table {
    box-shadow: 1px 1px 3px 1px black;
}

.row-10 {
    height: 10%;
    width: 100%;
    float: left;
}

.row-25 {
    height: 25%;
    width: 100%;
    float: left;
}

.row-50 {
    height: 50%;
    width: 100%;
    float: left;
}

.row-80 {
    height: 80%;
    width: 100%;
    float: left;
}

.processing {
    background: black;
    opacity: 0.4;
    cursor: wait;
}

.fileData select,
.fileData input {
    float: right;
    text-align: center;
    width: 200px;
}

#content {
    min-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    background: whitesmoke;
    padding: 0;
}


.empl-modal-window {
    height: 100%;
    width: 100%;
}


.modal-dialog {
    height: 600px;
    width: 600px;
}

.modal-content {
    height: 100%;
}

.emp-btn {
    width: 90%;
}

.sub-option {
    height: 100%;
}

.lowerPanelVisible {
    height: 30%;
}

.upperPanelVisible {
    height: 70%;
}

.lowerPanelInvisible {
    height: 0;
}

.upperPanelInvisible {
    height: 100%;
}

tr.selected td {
    background: darkgray;
    color: white;
}

.not-visible {
    display: none;
}

.file-row,
.file-row td {
    height: 35px;
}

.panel-title {
    text-align: center;
    color:white;
    background: steelblue;
}
