body {
    overflow: hidden;
}


.ui-toolbar {
    /*background: linear-gradient(-90deg, #047249, #046249);*/
    background: #047249;
    color: white;
}

    .ui-toolbar:hover {
    }

.container {
    min-height: 100%;
}

.menu-option:hover {
    box-shadow: 0 0 2px 0 #046249;
    cursor: pointer;
    background: whitesmoke;
}

.help-button {
}

.user-button {
}

.menu-button {
    color: white;
    border-radius: 4px;
}

    .menu-button:hover {
        cursor: pointer;
        box-shadow: 0 0 1px 0 black;
        -moz-transition: background 0.2s ease-in;
        -o-transition: background 0.2s ease-in;
        -webkit-transition: background 0.2s ease-in;
        transition: background 0.2s ease-in;
        background: #046249;
    }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

input {
    text-align:center;
}

input:focus {
    color:white;
    box-shadow:0 0 1px 0 black;
    border: 1px solid black;
    background: #C1E1A6;
}