body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.ui-toolbar {
    /*background: linear-gradient(-90deg, #047249, #046249);*/
    /*background: #047249;*/
    background: steelblue;
    color: white;
}

    .ui-toolbar:hover {
    }

.container {
    min-height: 100%;
}

.menu-option:hover {
    /*box-shadow: 0 0 2px 0 #046249;*/
    box-shadow: 0 0 2px 0 black;
    cursor: pointer;
    background: whitesmoke;
}

.help-button {
}

.user-button {
    position: relative;
    display: inline-block;
}

.menu-button {
    color: white;
    border-radius: 4px;
}

    .menu-button:hover {
        cursor: pointer;
        box-shadow: 0 0 1px 0 black;
        -moz-transition: background 0.2s ease-in;
        -o-transition: background 0.2s ease-in;
        -webkit-transition: background 0.2s ease-in;
        transition: background 0.2s ease-in;
        /*background: #046249;*/
        background: lightslategray;
    }

.user-menu-options {
    position: absolute;
    /*background-color: #047249;*/
    background-color: lightslategray;
    min-width: 160px;
    margin: 5px;
    z-index: 1000;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

input {
    text-align: center;
}

    input:focus {
        color: white;
        box-shadow: 0 0 1px 0 black;
        border: 1px solid black;
        background: #C1E1A6;
    }

table {
    box-shadow: 1px 1px 3px 1px black;
}

.row-25 {
    height: 25%;
    width: 100%;
    float: left;
}

.row-50 {
    height: 50%;
    width: 100%;
    float: left;
}

.processing {
    background: black;
    opacity: 0.4;
    cursor: wait;
}

.fileData select,
.fileData input {
    float: right;
    text-align: center;
}

#content {
    min-height: 500px;
    overflow-y: hidden;
}
