@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header {
  position: sticky;
  height: 120px;
  width: 100%;
  background-color: #074C75;
  z-index: 20;
}

.menu-pane-wrapper {
  height: 100%;
  float: right;
}

.menu-buttons-wrapper {
  width: 600px;
  height: 100%;
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.top-menu-button {
  width: 120px;
  height: 50px;
  color: white;
  /* box-shadow: 0 0 2px 0 black; */
  display: inline-block;
  margin: 12px 0;
  /* opacity: 0.8; */
  -moz-transition: width 0.2s linear, height 0.2s linear, opacity 0.2s ease-in;
  -o-transition: width 0.2s linear, height 0.2s linear, opacity 0.2s ease-in;
  -webkit-transition: width 0.2s linear, height 0.2s linear, opacity 0.2s ease-in;
  transition: width 0.2s linear, height 0.2s linear, opacity 0.2s ease-;
}

.top-menu-button:hover {
  color: #8FE1E1;
  font-weight: bold;
  cursor: pointer;
}

.option-active {
  color: #31B1DE;
  font-weight: bold;
}

.header-logo {
  height: 60px;
  margin: 4px 45px;
  float: left;
  cursor: pointer;
}

.user-icon {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 40px !important;
  color: white;
  display: inline-block;
}

.user-icon:hover {
  cursor: pointer;
}

/*.user-icon:hover + .callout {
    opacity: 1;
}*/
.dropdown-menu-wrapper {
  position: fixed;
  /* background: red; */
  right: 5px;
  top: 150px;
  height: 200px;
  box-shadow: 0 0 3px #074C75;
  color: #074C75;
  font-size: 20px;
}

.dropdown-menu-wrapper ul {
  padding: 0;
  margin: 0;
}

.login-name-label {
  /*display: inline-block;
    max-width: 300px;
    margin: 70px 10px;
    color: white;*/
  display: inline-block;
  max-width: 300px;
  margin: 8px 85px 0;
  color: white;
}

.companies-label {
  margin-top: 10px;
}

.companies-label .single-company-label,
.companies-label select {
  width: 200px;
  height: 2em;
  background: white;
  color: #074C75;
  padding: 0.3em 3em;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 2px black;
}

.companies-label option {
  cursor: pointer;
  background: white;
  color: #074C75;
}

.companies-label option:hover {
  cursor: pointer;
  background: #074C75;
  color: white;
}

.user-options-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.user-options-wrapper li {
  border-bottom: 1px solid #E3E3E3;
  padding: 10px 0;
  color: #074C75;
}

.user-options-wrapper li:hover {
  text-shadow: 0 0 1px #074C75;
  cursor: pointer;
}

.callout {
  width: 200px;
  background-color: white;
  position: fixed;
  z-index: 99;
  top: 90px;
  right: 35px;
  color: #074C75;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 20px black;
  min-height: 50px;
  border: 1px solid #666161;
  -moz-transition: opacity 0.7s ease-in;
  -o-transition: opacity 0.7s ease-in;
  -webkit-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
}

.element-invisible {
  opacity: 0;
  pointer-events: none;
}

.element-visible {
  opacity: 1;
}

/*.callout:hover {
    opacity: 1;
}*/
.callout::before {
  content: "";
  width: 0;
  height: 0;
  border: 0.8em solid transparent;
  position: absolute;
}

.callout.bottom::before {
  left: 80%;
  top: -23px;
  border-bottom: 10px solid white;
}

.user-option {
  float: left;
  margin-right: 10px;
  font-size: 20px !important;
  color: #E3E3E3;
}

.employees-small-options {
  height: 20px;
  /* width: 280px; */
  color: white;
  display: block;
  position: absolute;
  bottom: 10px;
}

.small-option:hover {
  color: #31B1DE;
  cursor: pointer;
}

.small-option-one {
  margin-left: 48px;
  font-size: 25px;
}

.small-option-two {
  margin-left: 41px;
  font-size: 25px;
}

@media screen and (max-width: 1100px) {
  .menu-buttons-wrapper {
    height: 100%;
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: auto;
  }
  .top-menu-button {
    width: 120px;
    color: white;
    display: block;
    -moz-transition: width 0.2s linear, height 0.2s linear, opacity 0.2s ease-in;
    -o-transition: width 0.2s linear, height 0.2s linear, opacity 0.2s ease-in;
    -webkit-transition: width 0.2s linear, height 0.2s linear, opacity 0.2s ease-in;
    transition: width 0.2s linear, height 0.2s linear, opacity 0.2s ease-in;
    margin: 0;
  }
  .small-option-label {
    display: none;
  }
}

@media screen and (max-width: 959px) and (min-width: 720px) {
  .header-logo {
    height: 50px;
    margin: 10px 12px;
  }
}

@media screen and (max-width: 719px) and (min-width: 420px) {
  .header-logo {
    display: none;
  }
  .login-name-label {
    display: block;
    color: white;
    margin: auto;
    text-align: center;
  }
}

#shopping-cart {
  position: absolute;
  right: 59px;
  top: 88px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

#shopping-cart .items-counter {
  font-size: 13px;
  position: absolute;
  right: 25px;
  top: 9px;
  font-weight: bold;
  color: #31B1DE;
}

/*# sourceMappingURL=header.css.map */