<div class="options-wrapper">
    <nav class="navigation-pane">
        <ul class="menu-wrapper">
            <li class="menu-button menu-button-one" ng-click="navigateTo('emp-files')">
                <span class="menu-icon-group">
                    <i class="menu-icon fa fa-user-o"></i>
                    <i class="menu-icon fa fa-user-o"></i>
                    <i class="menu-icon fa fa-user-o"></i>
                </span>
                <span class="menu-button-text">Pracownicy</span>

            </li>
            <li class="menu-button menu-button-two" ng-click="navigateTo('fi-files')">
                <span class="menu-icon-group">
                    <i class="menu-icon fa fa-folder-open-o"></i>
                </span>
                <span class="menu-button-text">Dokumenty</span>
            </li>
            <li class="menu-button menu-button-three" ng-click="navigateTo('raports')">
                <!--<li class="menu-button menu-button-three not-yet-available">-->
                <span class="menu-icon-group">
                    <i class="menu-icon fa fa-bar-chart"></i>
                </span>
                <span class="menu-button-text">Raporty</span>

            </li>
            <li class="menu-button menu-button-four" ng-click="navigateTo('structure')">
                <span class="menu-icon-group">
                    <i class="menu-icon fa fa-sitemap"></i>
                </span>
                <span class="menu-button-text">Struktura Firmy</span>

            </li>
        </ul>
    </nav>
    <article class="logo-wrapper">
        <img id="customer-logo" src="Content/img/Logo_TopFarms.png" />
    </article>
</div>