<div class="options-wrapper">
    <nav class="navigation-pane">
        <ul class="menu-wrapper">
            <li class="menu-button menu-button-one">
                <span class="menu-icon-group">
                    <i class="menu-icon fa fa-user-o"></i>
                    <i class="menu-icon fa fa-user-o"></i>
                    <i class="menu-icon fa fa-user-o"></i>
                </span>
                Pracownicy
            </li>
            <li class="menu-button menu-button-two">
                <span class="menu-icon-group">
                    <i class="menu-icon fa fa-folder-open-o"></i>
                </span>
                Dokumenty
            </li>
            <li class="menu-button menu-button-three">
                <span class="menu-icon-group">
                    <i class="menu-icon fa fa-bar-chart"></i>
                </span>
                Raporty
            </li>
            <li class="menu-button menu-button-four">
                <span class="menu-icon-group">
                    <i class="menu-icon fa fa-cogs"></i>
                </span>
                Administracja
            </li>
        </ul>
    </nav>
    <article class="logo-wrapper">
        <img id="customer-logo" src="../../../Content/img/logo_TopFarms_transparent.png" />
    </article>
</div>